<div class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #FEFBF3; box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);">
    <div class="container">
      <a href="/"> <img src="https://i.imgur.com/8u8uTcl.png" class="logo-image" alt="logo" class="img-fluid"></a>
      <a href="/" class="navbar-brand"> Mosa3da</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <% if (isAuthenticated) { %>

          <% if (user.role ==='customer') { %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link <%= pageName === 'dashboard' ? 'active' : '' %>" href="/">My Sessions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= pageName === 'therapist list' ? 'active' : '' %>" href="/therapists">Therapist List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= pageName === 'tests' ? 'active' : '' %>" href="/">Tests</a>
          </li>
        </ul>
        <% } else if (user.role === 'therapist') { %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link <%= pageName === 'dashboard' ? 'active' : '' %>" href="/">My Sessions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= pageName === 'tests' ? 'active' : '' %>" href="/">Patients</a>
            </li>
          </ul>
          
          <% } else { %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link <%= pageName === 'applications' ? 'active' : '' %>" href="/applications">Review Applications</a>
            </ul>
            

        <% } %>

        <ul class="navbar-nav ms-md-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= user.name %></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/account">Account</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/thomaspark/bootswatch/"><i class="fa fa-globe" aria-hidden="true"></i> العربية</a>
          </li>
    </ul>

        <% }  else { %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">What is Mosa3da</a>
            </li>
            <li class="nav-item"s>
              <a class="nav-link <%= pageName === 'therapist list' ? 'active' : '' %>" href="/therapists">Therapist List</a>
            </li>
          </ul>


          <ul class="navbar-nav ms-md-auto">
            <li class="nav-item">
              <a class="nav-link" href="/join-us">Join Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Sign In</a>
              </li>
          <li class="nav-item">
            <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/thomaspark/bootswatch/"><i class="fa fa-globe" aria-hidden="true"></i> العربية</a>
          </li>
        </ul>
        <% }  %>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>