<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

</head>

<body style="background-color: #FEFBF3; position: relative; ">

  <%- include('./includes/navbar.ejs') %>
  <div class="container"">
  

    <% if(user.role === 'customer') { %>
      <% if(sessions.booking.length > 0) { %>

        <main style="margin-top: 50px;">
        <% for (let session of sessions.booking) { %>
          <div class="container">
            <div class="row" >
              <div class="col-lg-12">
                <div class="card border-0 mb-4 mt-4" style="background-color: #F8F0DF; border-radius:10px; box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);">
                  <div class="d-flex";>
                      <div class="flex-fill">
                        <div class="card-body">

                          <div class="flex-container" style="display: flex;">
                            <div class="font-weight-bold" style="font-weight: 500;">Date:&nbsp;</div>
                            <div class="font-weight-bold"><%= moment(session.dateAndTime).format('YYYY-MM-DD') %> </div>
                          </div>
  
                          <div class="flex-container" style="display: flex;">
                            <div class="font-weight-bold" style="font-weight: 500;">Time:&nbsp;</div>
                            <div class="font-weight-bold"><%= moment(session.dateAndTime).format('HH:mm A') %></div>
                          </div>
  
                          <div class="flex-container" style="display: flex;">
                            <div class="font-weight-bold" style="font-weight: 500;">Duration:&nbsp;</div>
                            <div class="mb-3"><%= session.duration %></div>
                          </div>
  
                          <div class="flex-container" style="display: flex;">
                            <div class="font-weight-bold" style="font-weight: 500;">Therapist:&nbsp;</div>
                            <div class="" id="therapistName"><%= session.therapistName %></div>
                          </div>

                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-items-center">
                        <form action="/video/<%=session.bookingId%><%=user._id%>" method="GET">
                          <% if(moment().utc().format('YYYY-MM-DD HH') === moment(session.dateAndTime).utc().format('YYYY-MM-DD HH')) { %>
                          <button class="btn btn-primary" style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm; margin-right: 10px;">Join</button>
                          <input type="hidden" name="vchat" id="vchat" value="vchat">
                          <input type="hidden" name="room" id="room" value="<%=session.bookingId%>+<%=user._id %>">
                          <input type="hidden" name="therapist" id="therapist" value="<%= session.bookingId %>">
                          <input type="hidden" name="patient" id="patient" value="<%= user._id %>">
                          <% } else { %>
                          <button  disabled class="btn btn-primary" style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm; margin-right: 10px;">Join</button>
                          <% }%>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } else { %>
        <h1> No Sessions.</h1>
      <% } %>

    <% } %>
  </main>
    <% if(user.role === 'therapist') { %>
      <% if(sessions.booking.length > 0) { %>
        <main style="margin-top: 50px;">
        <% for (let session of sessions.booking) { %>
          <div class="container">
            <div class="row" >
              <div class="col-lg-12">
                <div class="card border-0 mb-4 mt-4" style="background-color: #F8F0DF; border-radius:10px; box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);">
                  <div class="d-flex";>
                      <div class="flex-fill">
                        <div class="card-body">

                          <div class="flex-container" style="display: flex;">
                            <div class="font-weight-bold" style="font-weight: 500;">Date:&nbsp;</div>
                            <div class="font-weight-bold"><%= moment(session.dateAndTime).format('YYYY-MM-DD') %> </div>
                          </div>
  
                          <div class="flex-container" style="display: flex;">
                            <div class="font-weight-bold" style="font-weight: 500;">Time:&nbsp;</div>
                            <div class="font-weight-bold"><%= moment(session.dateAndTime).format('HH:mm A') %></div>
                          </div>
  
                          <div class="flex-container" style="display: flex;">
                            <div class="font-weight-bold" style="font-weight: 500;">Duration:&nbsp;</div>
                            <div class="mb-3"><%= session.duration %></div>
                          </div>
  
                          <div class="flex-container" style="display: flex;">
                            <div class="font-weight-bold" style="font-weight: 500;">Patient:&nbsp;</div>
                            <div class="" id="therapistName"><%= session.customerName %></div>
                          </div>

                        </div>
                      </div>
                      <div class="d-flex justify-content-center align-items-center">
                        <% if(moment().utc().format('YYYY-MM-DD') === moment(session.dateAndTime).utc().format('YYYY-MM-DD')) { %>
                        <form action="/video/<%=user._id%><%=session.bookingId%>" method="GET">
                          <button class="btn btn-primary" style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm; margin-right: 10px;">Join</button>
                          <input type="hidden" name="vchat" id="vchat" value="vchat">
                          <input type="hidden" name="room" id="room" value="<%=user._id%>+<%=session.bookingId%>">
                          <input type="hidden" name="therapist" id="therapist" value="<%= session.bookingId %>">
                          <input type="hidden" name="patient" id="patient" value="<%= user._id %>">
                          <% } else { %>
                          <button disabled class="btn btn-primary" style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm; margin-right: 10px;">Join</button>
                          <% }%>
                      </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      <% } else { %>
        <h1> No Sessions.</h1>
      <% } %>

    <% } %>
  </main>
</div>

<%- include('./includes/footer.ejs') %>
  
  
  
      
</body>
</html>