<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
</head>

<body>
    <%- include('./includes/navbar.ejs') %>

    <div class="container">
    <main style="margin-top: 100px;">
        <% if(user.role === 'customer') { %>
        <% if(user.therapists.therapist.length > 0) { %>
    
          <% for (let therapist of user.therapists.therapist) { %>
              <div class="container">
                <div class="row" >
                  <div class="col-lg-12">
                    <div class="card border-0 mb-4 mt-4" style="background-color: #F8F0DF; border-radius:10px; box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);">
                      <div class="d-flex";>
                          <div class="flex-fill">
                            <div class="card-body">
                              <% if(user.role === 'customer') { %>
                              <div class="" id="therapistName">Therapist: <%= therapist.therapistName %></div>
                              <% } %>
                            </div>
                          </div>
                          <div class="d-flex justify-content-center align-items-center">
                            <form action="/messages/<%=therapist.therapistId%><%=user._id%>" method="GET">
                                <button class="btn btn-primary" style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm; margin-right: 10px;">Chat</button>
                                <input type="hidden" name="msgs" id="msgs" value="messages">
                                <input type="hidden" name="room" id="room" value="<%=therapist.therapistId%>+<%=user._id%>">
                                <input type="hidden" name="therapist" id="therapist" value="<%= therapist.therapistName %>">
                                <input type="hidden" name="patient" id="patient" value="<%= user.name %>">
                            </form>
                            
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <% } %>
        <% } %>


        <% } else if(user.role === 'therapist') {%>
            <% if(user.patients.patient.length > 0) { %>
    
                <% for (let patient of user.patients.patient) { %>
                    <div class="container">
                      <div class="row" >
                        <div class="col-lg-12">
                          <div class="card border-0 mb-4 mt-4" style="background-color: #F8F0DF; border-radius:10px; box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.26);">
                            <div class="d-flex";>
                                <div class="flex-fill">
                                  <div class="card-body">
                                    <% if(user.role === 'therapist') { %>
                                    <div class="" id="therapistName">Patient: <%= patient.patientName %></div>
                                    <% } %>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                  <form action="/messages/<%=user._id%><%=patient.patientId%>" method="GET">
                                    <button class="btn btn-primary" style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm; margin-right: 10px;">Chat</button>
                                    <input type="hidden" name="msgs" id="msgs" value="messages">
                                    <input type="hidden" name="room" id="room" value="<%=user._id%>+<%=patient.patientId%>">
                                    <input type="hidden" name="therapist" id="therapist" value="<%= patient.patientName %>">
                                    <input type="hidden" name="patient" id="patient" value="<%= user.name %>">
                                </form>
                                  
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
              </div>
              <% } %>
              <% } %>



        <% } else { %>
          <h1> No Chats.</h1>
          <% } %>
      </main>
    </div>

</body>

</html>