<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/therapist-List.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/css/account.css">
</head>

<script src="/js/modal.js" defer></script>

<body style="background-color: #FEFBF3;">
    
  <%- include('./includes/navbar.ejs') %>

  <div class="container">

  <main style="margin-top: 100px;">
    <% if (patients.patient.length > 0) { %>
        <div style="display: flex; justify-content: center; align-items: stretch; flex-wrap: wrap;">
        <% for (let patient of patients.patient) { %>
            <div class="profile-card" style="margin-left: 30px; margin-right: 30px; margin-bottom: 60px;">

                <div class="name"><%= patient.patientName %></div>
                    
                <div class="buttons text-center" style="display: inline-block;">

                    <form action="/users/<%=patient.patientId%>">
                        <button type="submit" style="margin-bottom: 10px;">View Profile</button>
                        <input type="hidden" name="patientId" value="<%= patient.patientId %>">
                    </form>
                    
                        <button name="myBtn" class="myBtn">Add Note</button>
                        <input type="hidden" name="userId" value="<%= patient.patientId %>">
                    

                </div>
                </div>

            <% } %>
            <% } else { %>
               <h1>No Patients.</h1> 
            <% } %>
        </div>
        

    </main>
</div>





</body>
</html>