<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/payment.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">

<body>
    
    <div class="credit-card">
        <div class="form-header">
          <h4 class="title">Credit Card and Session Details</h4>
        </div>
       
        <div class="form-body">

          
          <div class="flex-container" style="display: flex;">
            <div class="font-weight-bold" style="font-weight: 500;">Date:&nbsp;</div>
            <div class="font-weight-bold"><%= moment(date).format('YYYY-MM-DD') %> </div>
          </div>

          <div class="flex-container" style="display: flex;">
            <div class="font-weight-bold" style="font-weight: 500;">Time:&nbsp;</div>
            <div class="font-weight-bold"><%= moment(date).format('HH:mm A') %></div>
          </div>

          <div class="flex-container" style="display: flex;">
            <div class="font-weight-bold" style="font-weight: 500;">Duration:&nbsp;</div>
            <div class=""><%= duration %></div>
          </div>

          <div class="flex-container" style="display: flex;">
            <div class="font-weight-bold" style="font-weight: 500;">Therapist:&nbsp;</div>
            <div class="mb-3" id="therapistName"><%= therapistName %></div>
          </div>

          <!-- Card Number -->
          <input onkeyup="success()" type="number" maxlength="12" class="card-number" placeholder="Card Number" name="cardNumber" id="cardNumber">
       
          <!-- Date Field -->
          <div class="date-field">
            <div class="month">
              <select name="Month">
                <option value="january">January</option>
                <option value="february">February</option>
                <option value="march">March</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">June</option>
                <option value="july">July</option>
                <option value="august">August</option>
                <option value="september">September</option>
                <option value="october">October</option>
                <option value="november">November</option>
                <option value="december">December</option>
              </select>
            </div>
            <div class="year">
              <select name="Year">
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
              </select>
            </div>
          </div>
       
          <!-- Card Verification Field -->
          <div class="card-verification">
            <div class="cvv-input">
              <input onkeyup="success()" type="number" maxlength="4" placeholder="CVV" name="ccv" id="ccv">
            </div>
          </div>
            
        </div>
        <form action="/book" method="POST">
          <button disabled type="submit" class="btn btn-primary btn-block" id="button"
            style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm; margin-top: 25px; text-align: center; width: 100%;">Proceed</button>
                                    <input type="hidden" name="userEmail" value="<%= therapistEmail %>">
                                    <input type="hidden" name="date" value="<%= date %>">
                                    <input type="hidden" name="duration" value="<%= duration %>">
                                    <input type="hidden" name="sessionId" value="<%= sessionId %>">
      </form>

      <script>
        function success() {
         if(document.getElementById("ccv").value!=="" && document.getElementById("cardNumber").value!=="") { 
                  document.getElementById('button').disabled = false; 
              } else { 
                  document.getElementById('button').disabled = true;
              }
          }
      </script>

</body>


</html>